<a href="https://colab.research.google.com/github/HunterAshby/DS-Unit-2-Linear-Models/blob/master/module4-logistic-regression/LS_DS_214_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 4*

---

# Logistic Regression


## Assignment ðŸŒ¯

You'll use a [**dataset of 400+ burrito reviews**](https://srcole.github.io/100burritos/). How accurately can you predict whether a burrito is rated 'Great'?

> We have developed a 10-dimensional system for rating the burritos in San Diego. ... Generate models for what makes a burrito great and investigate correlations in its dimensions.

- [ ] Do train/validate/test split. Train on reviews from 2016 & earlier. Validate on 2017. Test on 2018 & later.
- [ ] Begin with baselines for classification.
- [ ] Use scikit-learn for logistic regression.
- [ ] Get your model's validation accuracy. (Multiple times if you try multiple iterations.)
- [ ] Get your model's test accuracy. (One time, at the end.)
- [ ] Commit your notebook to your fork of the GitHub repo.


## Stretch Goals

- [ ] Add your own stretch goal(s) !
- [ ] Make exploratory visualizations.
- [ ] Do one-hot encoding.
- [ ] Do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html).
- [ ] Get and plot your coefficients.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

In [1]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Linear-Models/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'

In [2]:
# Load data downloaded from https://srcole.github.io/100burritos/
import pandas as pd
df = pd.read_csv(DATA_PATH+'burritos/burritos.csv', parse_dates=['Date'],
                 index_col='Date')

In [3]:
# Derive binary classification target:
# We define a 'Great' burrito as having an
# overall rating of 4 or higher, on a 5 point scale.
# Drop unrated burritos.
df = df.dropna(subset=['overall'])
df['Great'] = df['overall'] >= 4

In [4]:
# Clean/combine the Burrito categories
df['Burrito'] = df['Burrito'].str.lower()

california = df['Burrito'].str.contains('california')
asada = df['Burrito'].str.contains('asada')
surf = df['Burrito'].str.contains('surf')
carnitas = df['Burrito'].str.contains('carnitas')

df.loc[california, 'Burrito'] = 'California'
df.loc[asada, 'Burrito'] = 'Asada'
df.loc[surf, 'Burrito'] = 'Surf & Turf'
df.loc[carnitas, 'Burrito'] = 'Carnitas'
df.loc[~california & ~asada & ~surf & ~carnitas, 'Burrito'] = 'Other'

In [5]:
# Drop some high cardinality categoricals
df = df.drop(columns=['Notes', 'Location', 'Reviewer', 'Address', 'URL', 'Neighborhood'])

In [6]:
# Drop some columns to prevent "leakage"
df = df.drop(columns=['Rec', 'overall'])

In [7]:
print(df.shape)
df.head()

(421, 58)

               Burrito  Yelp  Google Chips  ...  Avocado  Corn  Zucchini  Great
Date                                        ...
2016-01-18  California   3.5     4.2   NaN  ...      NaN   NaN       NaN  False
2016-01-24  California   3.5     3.3   NaN  ...      NaN   NaN       NaN  False
2016-01-24    Carnitas   NaN     NaN   NaN  ...      NaN   NaN       NaN  False
2016-01-24       Asada   NaN     NaN   NaN  ...      NaN   NaN       NaN  False
2016-01-27  California   4.0     3.8     x  ...      NaN   NaN       NaN   True

[5 rows x 58 columns]

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 421 entries, 2016-01-18 to 2019-08-27
Data columns (total 58 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Burrito         421 non-null    object
 1   Yelp            87 non-null     float64
 2   Google          87 non-null     float64
 3   Chips           26 non-null     object
 4   Cost            414 non-null    float64
 5   Hunger          418 non-null    float64
 6   Mass (g)        22 non-null     float64
 7   Density (g/mL)  22 non-null     float64
 8   Length          283 non-null    float64
 9   Circum          281 non-null    float64
 10  Volume          281 non-null    float64
 11  Tortilla        421 non-null    float64
 12  Temp            401 non-null    float64
 13  Meat            407 non-null    float64
 14  Fillings        418 non-null    float64
 15  Meat:filling    412 non-null    float64
 16  Uniformity      419 non-null    float64
 17  Salsa           396 non-null    float64
 18  Synergy         419 non-null    float64
 19  Wrap            418 non-null    float64
 20  Unreliable      33 non-null     object
 21  NonSD           7 non-null      object
 22  Beef            179 non-null    object
 23  Pico            158 non-null    object
 24  Guac            154 non-null    object
 25  Cheese          159 non-null    object
 26  Fries           127 non-null    object
 27  Sour cream      92 non-null     object
 28  Pork            51 non-null     object
 29  Chicken         21 non-null     object
 30  Shrimp          21 non-null     object
 31  Fish            6 non-null      object
 32  Rice            36 non-null     object
 33  Beans           35 non-null     object
 34  Lettuce         11 non-null     object
 35  Tomato          7 non-null      object
 36  Bell peper      7 non-null      object
 37  Carrots         1 non-null      object
 38  Cabbage         8 non-null      object
 39  Sauce           38 non-null     object
 40  Salsa.1         7 non-null      object
 41  Cilantro        15 non-null     object
 42  Onion           17 non-null     object
 43  Taquito         4 non-null      object
 44  Pineapple       7 non-null      object
 45  Ham             2 non-null      object
 46  Chile relleno   4 non-null      object
 47  Nopales         4 non-null      object
 48  Lobster         1 non-null      object
 49  Queso           0 non-null      float64
 50  Egg             5 non-null      object
 51  Mushroom        3 non-null      object
 52  Bacon           3 non-null      object
 53  Sushi           2 non-null      object
 54  Avocado         13 non-null     object
 55  Corn            3 non-null      object
 56  Zucchini        1 non-null      object
 57  Great           421 non-null    bool
dtypes: bool(1), float64(19), object(38)
memory usage: 191.2+ KB

In [9]:
df.dropna(axis=1, thresh=281, inplace=True)
df.head()

               Burrito  Cost  Hunger  Length  ...  Salsa  Synergy  Wrap  Great
Date                                          ...
2016-01-18  California  6.49     3.0     NaN  ...    4.0      4.0   4.0  False
2016-01-24  California  5.45     3.5     NaN  ...    3.5      2.5   5.0  False
2016-01-24    Carnitas  4.85     1.5     NaN  ...    3.0      3.0   5.0  False
2016-01-24       Asada  5.25     2.0     NaN  ...    4.0      4.0   5.0  False
2016-01-27  California  6.59     4.0     NaN  ...    2.5      4.5   4.0   True

[5 rows x 16 columns]

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 421 entries, 2016-01-18 to 2019-08-27
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Burrito       421 non-null    object
 1   Cost          414 non-null    float64
 2   Hunger        418 non-null    float64
 3   Length        283 non-null    float64
 4   Circum        281 non-null    float64
 5   Volume        281 non-null    float64
 6   Tortilla      421 non-null    float64
 7   Temp          401 non-null    float64
 8   Meat          407 non-null    float64
 9   Fillings      418 non-null    float64
 10  Meat:filling  412 non-null    float64
 11  Uniformity    419 non-null    float64
 12  Salsa         396 non-null    float64
 13  Synergy       419 non-null    float64
 14  Wrap          418 non-null    float64
 15  Great         421 non-null    bool
dtypes: bool(1), float64(14), object(1)
memory usage: 53.0+ KB

In [11]:
#Splitting Data
X = df.drop(['Great'], axis=1)
y = df['Great']

mask1 = X.index < '2017-01-01'
mask2 = (X.index >= '2017-01-01') & (X.index < '2018-01-01')
mask3 = X.index >= '2018-01-10'
X_train, y_train = X.loc[mask1], y.loc[mask1]
X_val, y_val = X.loc[mask2], y.loc[mask2]
X_test, y_test = X.loc[mask3], y.loc[mask3]

In [12]:
X_train.head()

               Burrito  Cost  Hunger  Length  ...  Uniformity  Salsa  Synergy  Wrap
Date                                          ...
2016-01-18  California  6.49     3.0     NaN  ...         4.0    4.0      4.0   4.0
2016-01-24  California  5.45     3.5     NaN  ...         4.0    3.5      2.5   5.0
2016-01-24    Carnitas  4.85     1.5     NaN  ...         4.0    3.0      3.0   5.0
2016-01-24       Asada  5.25     2.0     NaN  ...         5.0    4.0      4.0   5.0
2016-01-27  California  6.59     4.0     NaN  ...         5.0    2.5      4.5   4.0

[5 rows x 15 columns]

In [13]:
#Baseline
print('Baseline accuracy: ', y_train.value_counts(normalize=True).max())

Baseline accuracy:  0.5906040268456376

In [14]:
from sklearn.pipeline import make_pipeline
from category_encoders import OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LogisticRegression

model = make_pipeline(
    OneHotEncoder(),
    SimpleImputer(),
    LogisticRegression()
)

model.fit(X_train, y_train);

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [15]:
#Metrics
print('Training Accuracy:', model.score(X_train, y_train))
print('Validation Accuracy:', model.score(X_val, y_val))

Training Accuracy: 0.8825503355704698
Validation Accuracy: 0.8117647058823529

In [16]:
from sklearn.metrics import accuracy_score
y_pred = model.predict(X_val)
accuracy_score(y_val, y_pred)

0.8117647058823529

In [17]:
y_pred = model.predict(X_test)
accuracy_score(y_test, y_pred)

0.8055555555555556